/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");

/* Global Styles */
:root {
  --white: hsl(0, 0%, 100%);

  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);

  --rose-50: hsl(330, 100%, 98%);
  --rose-800: hsl(332, 51%, 32%);
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  background-color: var(--stone-100);
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p,
li {
  font-size: 1rem;
  font-weight: 400;
}
/* Recipe Page Styles */
.recipe-container {
  flex-grow: 1;
  background-color: var(--white);
  color: var(--stone-600);
  width: 100%;
  max-width: 900px;
}

section {
  padding: 1.5rem;
}

.section-divider {
  width: 90%;
  border-bottom: 0px solid var(--stone-150);
}

.page-heading,
.section-heading {
  font-family: "Young Serif", sans-serif;
  font-weight: 500;
}

.page-heading {
  color: var(--stone-900);
}

.section-heading,
.point-list li::marker {
  color: var(--brown-800);
}

.section-heading {
  margin-bottom: 1rem;
}

.recipe-header__title,
.recipe-header__description {
  padding: 0 1.5rem;
  margin-top: 1.5rem;
}

.point-list .point-header {
  font-weight: 600;
}
.point-list li {
  margin: 0 0 0.5rem 1.5rem;
  padding-left: 1rem;
}

.point-list li::marker {
  font-weight: 500;
}

.recipe-prep-time {
  margin: 1.5rem;
  padding: 1rem;
  background-color: var(--rose-50);
  border-radius: 10px;
}

.recipe-prep-time__heading {
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
  color: var(--rose-800);
}

.recipe-nutrients__table {
  border-collapse: collapse;
  width: 100%;
}

.recipe-nutrients__table tr:not(:last-child) {
  border-bottom: 1px solid var(--stone-150);
}

.recipe-nutrients__table td {
  padding: 1rem 0;
}
.recipe-nutrients__table td.right-col {
  font-weight: 600;
  color: var(--brown-800);
}
/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: auto;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media queries */
@media (min-width: 916px) {
  body {
    padding: 10rem 0;
  }
  .recipe-container {
    border-radius: 20px;
    padding: 3rem;
  }
  .recipe-header__image {
    border-radius: 10px;
  }
  section,
  .recipe-header__title,
  .recipe-header__description {
    padding-left: 0;
    padding-right: 0;
  }
}
